<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>GameWeb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bg">

<p th:text="${p}">Rejestracja!</p>

<!--<img  th:src="@{'data:image/png;base64,'+${img}}" />-->

<div class="container">
    <div class="wrapper">
        <form class="form-signin" action="#" th:action="@{/games/addGame}" th:object="${game}" method="post">
            <div class="containter">
                <h2 class="form-signin-heading"><span class="glyphicon glyphicon-lock"></span> Dodaj grę</h2>
                <input type="text" placeholder="Tytuł Gry" name="username" th:field="*{title}" required="true" class="form-control"/>
                <!--<input type="textarea" placeholder="Email" name="email" th:field="*{about}" required="true" class="form-control"/>-->
                <input type="text" placeholder="Twórca/Studio" name="developer" th:field="*{developer}" class="form-control"/>
                <input type="date"  name="releaseDate" th:field="*{releaseDate}" class="form-control"/>
                <textarea name="about" placeholder="Opis gry" th:field="*{about}" cols="40" rows="5"></textarea>
                <button type="submit" id="butt" class="btn btn-lg btn-danger btn-block" > Dodaj </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
<!--release_date date,-->
<!--developer-->