<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />



<!--<img  th:src="@{'data:image/png;base64,'+${img}}" />-->

<div class="panel panel-info">
    <div class="panel-body">
        <form  action="#" enctype="multipart/form-data" th:action="@{/games/addGame}" th:object="${game}" method="post">

                <h2 class="form-signin-heading"><span class="glyphicon glyphicon-lock"></span> Dodaj grę</h2>
                <input type="text" placeholder="Tytuł Gry" name="username" th:field="*{title}" required="true" class="form-control"/>
                <!--<input type="textarea" placeholder="Email" name="email" th:field="*{about}" required="true" class="form-control"/>-->
                <input type="text" placeholder="Twórca/Studio" name="developer" th:field="*{developer}" class="form-control"/>
            <!--<div class="form-group">-->
                <!--<label for="sel1">Select list:</label>-->
                <select class="form-control"  th:field="*{cat_id}">
                    <!--<option disabled="disabled">Wybierz tag</option>-->
                    <option th:each="cat:${cats}" th:value="${cat.id}" th:text="${cat.name}">2</option>
                </select>


            <!--</div>-->
                <input type="date"  id="releaseDate" th:field="*{releaseDate}" class="form-control"/>

                <!--<textarea name="about" placeholder="Opis gry" th:field="*{about}" cols="40" rows="5"></textarea>-->
            <textarea style="resize: vertical" name="about" placeholder="Opis gry" th:field="*{about}"  class="form-control"></textarea>

                <input type="file" name="file" id="file"  required="required"/>
                <input id="submit" type="submit"/>

                <button type="submit" id="butt" class="btn btn-lg btn-danger btn-block" > Dodaj </button>

        </form>
    </div>
</div>

</body>
</html>
<!--release_date date,-->
<!--developer-->