<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />



<div class="panel panel-info">
    <div class="panel-body">
<span sec:authentication="username"></span>
<div class="col-sm-2 col-md-2">
    <img  th:src="${img}"
          alt="sosss"
          class="img-rounded img-responsive" />
</div>
<div class="col-sm-4 col-md-4">
    <blockquote>
        <p th:text="${username}" >Bruce Wayne</p>

    <form  enctype="multipart/form-data" th:action="@{/settings}" th:object="${user}" method="post">
        <small> O tobie:</small>
    <input type="text" name="about" th:value="${about}" th:field="*{about}"   class="form-control"/>
        <small> Email: </small>
    <input type="email" name="email" th:value="${email}" th:field="*{email}" class="form-control"/>
    <button type="submit" id="butt" class="btn btn-lg btn-danger btn-block" > Zaktualizuj </button>
    </form>

<h2> Zmień avatar</h2>
    <form th:action="@{/uploadAvatar}" method="POST" enctype="multipart/form-data" action="/uploadFile">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit"  value="Upload" /></td></tr>
        </table>
    </form>
    </blockquote>
</div></div>
</div>
<!--<a href="#" th:href="@{/logout}">Log Out</a>-->

</body>

</html>