<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />



<div class="panel panel-info">
    <div class="panel-body">
        <div class="col-sm-2 col-md-2">
            <img th:src="${img}" alt="" class="img-rounded img-responsive" />

        </div>
<div class="col-sm-4 col-md-8">
    <blockquote>
        <div class="page-header">
        <h2 th:text="${title}" >Bruce Wayne</h2>
        </div>
        <div class="content">
            <a href="#" th:href="@{/games/profile/{gameTitle}/vote/1/(gameTitle=${title})}"><i class="glyphicon glyphicon-star"></i></a>
            <a href="#" th:href="@{/games/profile/{gameTitle}/vote/2/(gameTitle=${title})}"><i class="glyphicon glyphicon-star"></i></a>
            <a href="#" th:href="@{/games/profile/{gameTitle}/vote/3/(gameTitle=${title})}"><i class="glyphicon glyphicon-star"></i></a>
            <a href="#" th:href="@{/games/profile/{gameTitle}/vote/4/(gameTitle=${title})}"><i class="glyphicon glyphicon-star"></i></a>
            <a href="#" th:href="@{/games/profile/{gameTitle}/vote/5/(gameTitle=${title})}"><i class="glyphicon glyphicon-star"></i></a>
            <p th:text="${isVoted}"></p>
        </div>
        <p th:text="'Ocena: ' + ${rating} + ' (' + ${votes_amount} + ' ocen)'"> Ocena: </p>
        <small><cite title="Source Title" th:text="${about}">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
    </blockquote>
    <p th:text="${developer}"> <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com</p>
    <p th:text="${releaseDate}"> <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com</p>
</div>
</div>
</div>
<div class="panel panel-info">
    <div class="panel-body">

        <div class="page-header">
        <h3>Recenzje
        <a href="#" th:href="@{/games/profile/{gameTitle}/addReview/(gameTitle=${title})}"><small class="text-muted">Dodaj recenzję</small></a>
        </h3>
        </div>
            <div class="row">
                <div class="col-md-4">
            <blockquote>
                <a href="#" th:href="@{/reviews/{id}/(id=${costam_id})}">  <p th:text="${COSTAM}" >Bruce Wayne</p></a>
                <small><cite title="Source Title" th:text="${costamcontent}">Gotham, United Kingdom</cite></small>
            </blockquote>
                </div>
                <div class="col-md-4">
            <blockquote>
                <a href="#" th:href="@{/reviews/{id}/(id=${costam_id})}">  <p th:text="${COSTAM}" >Bruce Wayne</p></a>
                <small><cite title="Source Title" th:text="${costamcontent}">Gotham, United Kingdom</cite></small>
            </blockquote>
                </div>
                <div class="col-md-4">
                    <blockquote>
                        <a href="#" th:href="@{/reviews/{id}/(id=${costam_id})}">  <p th:text="${COSTAM}" >Bruce Wayne</p></a>
                        <small><cite title="Source Title" th:text="${costamcontent}">Gotham, United Kingdom</cite></small>
                    </blockquote>
                </div>
            </div>



    </div>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="page-header">
        <h3>Dodaj komentarz</h3>
        </div>
       <form action="#" th:action="@{/games/profile/{gameTitle}/addCom/(gameTitle=${title})}" th:object="${comment}" method="post">
            <textarea class="form-control" name="addComment" id="addComment" th:field="*{content}" rows="1"></textarea>
            <button class="btn btn-warning" type="submit" name="action" value="addComm">Dodaj komentarz</button>
       </form>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-body">
<!--<div class="container">-->
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h3><small class="pull-right" th:text="${commentsAmount} + ' komentarzy'">45 comments</small> Komentarze </h3>
            </div>
            <div class="comments-list">

                <p th:each="comments:${commentsList}">
                <div class="media">
                    <a class="media-left" href="#">
                        <!--<img src="http://lorempixel.com/40/40/people/3/"/>-->
                        <img th:src="${comments.author_avatar}" height="50" width="50" />
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name" th:text="${comments.Author_name}">Baltej Singh</h4>
                        <span th:text="${comments.content}">asdasdasdasdasdasdsad</span>

                        <p><small><a href="">Odpowiedz</a></small></p>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
<!--</div>-->
    </div></div>

<!--<header th:replace="layout :: footer" />-->

</body>
</html>