<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="site-head">
        <title>GameWeb</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/css/mystyle2.css" th:href="@{/css/mystyle2.css}"/>
        <link href="../static/images/favicon.ico" rel="icon" type="image/x-icon" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:fragment="site-header" th:remove="tag">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" th:href="@{/}"><span class="glyphicon glyphicon-home"></span></a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><span class="glyphicon glyphicon-user"></span>Powrót</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <footer th:fragment="site-footer">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p class="navbar-text pull-left">© 2018 - Kamil Ciupa - Praca Inżynierska</p>
                </div>
            </div>
        </footer>
    </body>
</html>