<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />
<div class="text-center">




        <div>
            <h2>Recent Posts</h2>
            <a href= "#" th:each="p : ${games}" th:href="@{/games/profile/{gameTitle}/(gameTitle=${p.title})}" ><div th:text="${p.title}"></div></a>
        </div>





</div>
<!--<header th:replace="layout :: footer" />-->

</body>
</html>