<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />
<div class="text-center">




    <div class="panel panel-info">
        <div class="panel-body">
        <div>
            <h2>Gry na portalu</h2>
            <a href= "#" th:each="p : ${games}" th:href="@{/games/profile/{gameTitle}/(gameTitle=${p.title})}" ><div th:text="${p.title}"></div></a>
        </div>
            <div>
                <a href = "#" th:href="@{/games/all/{pageid}/(pageid=${prev_pageid})}"> <span class="glyphicon glyphicon-chevron-left"></span></a>
                <a href = "#" th:href="@{/games/all/{pageid}/(pageid=${next_pageid})}"> <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div></div>





</div>
<!--<header th:replace="layout :: footer" />-->

</body>
</html>