<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />
    <body class="bg">


    <header th:replace="layout :: site-header" />

        <div class="container">
            <!--Form-->
            <div class="wrapper">
                <form class="form-signin" action="#" th:action="@{/login}"  method="post">
                    <h2 class="form-signin-heading"><span class="glyphicon glyphicon-lock"></span>Zaloguj się </h2>
                    <p class="form-signin-desc"> Skorzystaj z pełnych możliwości naszej strony </p>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nazwa użytkownika" name="username" th:placeholder="username" required="true"/>
                        <input type="password" class="form-control" placeholder="Hasło"  name="password" id="password"  th:placeholder="Password"  onkeyup='check();' required="true"/>
                        <button type="submit" class="btn btn-lg btn-danger btn-block" id="butt" > Zaloguj </button>
                        <div  class="alert alert-danger" align="center" th:if="${param.error}">
                            <p style="font-size: 20; color: #FF1C19;"><span class="glyphicon glyphicon-remove"></span> Nieprawidłowa nazwa użytkownika lub hasło!</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <header th:replace="layout :: footer" />

    </body>
</html>