<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />
        <div class="text-center">
            <img src="https://vignette.wikia.nocookie.net/dragonball/images/1/12/Spider-Man_This_isn%27t_even_my_final_form.jpg/revision/latest?cb=20130511141123"/>
        </div>
<header th:replace="layout :: footer" />

</body>
</html>