<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

    <body class="bg">

        <header th:replace="layout :: site-header" />

            <div class="container">
                <div class="jumbotron">
                    <h1 class="text-center">Strona do oceniania gier</h1>
                    <p class="text-center">Chcesz wiedzieć co inni myślą o nowym tytule? A może interesuje cię opinia innych o twojej własnej grze? To wszystko możesz
                sprawdzić na naszej stronie! Wystarczy stworzyć konto i od razu możesz cieszyć się opisami, recenzjami oraz ocenami gier!</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger">STWÓRZ KONTO!</button>
                    </div>
                </div>
            </div>

        <header th:replace="layout :: footer" />

    </body>
</html>