<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>GameWeb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!--<p th:text="${p}">Welcome to our grocery store!</p>-->
<span sec:authentication="username"></span>
<div class="col-sm-2 col-md-2">
    <img src="https://thumb9.shutterstock.com/display_pic_with_logo/3891164/619490732/stock-vector-unknown-user-icon-in-trendy-flat-style-isolated-on-transparent-background-user-silhouette-symbol-619490732.jpg"
         alt="" class="img-rounded img-responsive" />
</div>
<div class="col-sm-4 col-md-4">
    <blockquote>
        <p th:text="${username}" >Bruce Wayne</p>
        <small><cite title="Source Title" th:text="${about}">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
    </blockquote>
    <p th:text="${email}"> <i class="glyphicon glyphicon-envelope"></i> masterwayne@batman.com</p>
</div>
<a href="#" th:href="@{/logout}">Log Out</a>

</body>

</html>