<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<p th:text="${img}">Rejestracja!</p>


<!--<img th:src="@{img}" />-->
<!--<img th:src="${'data:image/png;base64,'+img}"  />-->
<img  th:src="@{'data:image/png;base64,'+${img}}" />

<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <div class="containter">
        <label> Nazwa użytkownika </label>
        <input type="text" placeholder="Halinka" name="username" th:field="*{username}" required="true"/>
        <label> Email </label>
        <input type="email" placeholder="halinka@kiepska.com" name="email" th:field="*{email}" required="true"/>
        <label> Hasło </label>
        <input type="password"  name="password" th:field="*{password}" required="true"/>
        <label> Powtórz hasło </label>
        <input type="password"  name="re-password" required="true"/>
        <!-- guzik -->
        <div class="clearfix">
            <button type="submit" class="signupbtn"> Zarejestruj </button>
        </div>

    </div>
</form>
</body>

</html>