<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />
    <body class="bg">

    <header th:replace="layout :: site-header" />

        <p th:text="${p}" style="color:red;" class="text-center"></p>

        <!--<img  th:src="@{'data:image/png;base64,'+${img}}" />-->

        <div class="container">
            <div class="wrapper">
                <form class="form-signin" action="#" th:action="@{/registration}" th:object="${user}" method="post">
                    <div class="containter">
                        <h2 class="form-signin-heading"><span class="glyphicon glyphicon-lock"></span> Zarejestruj się</h2>
                        <input type="text" placeholder="Nazwa użytkownika" name="username" th:field="*{username}" required="true" class="form-control"/>
                        <input type="email" placeholder="Email" name="email" th:field="*{email}" required="true" class="form-control"/>
                        <input type="password" placeholder="Hasło" name="password"  class="form-control" id="password" th:field="*{password}"  onkeyup='check();' required="true"/>
                        <div id="passVal">
                            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Minimum 8 znaków<br/>
                            <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Minimum jedna mała litera<br/>
                            <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Minimum jedena cyfra
                        </div>
                        <input type="password" placeholder="Powtórz hasło" name="re-password" class="form-control" id="repasswor"  onkeyup='check();' required="true"/>
                        <div id="repassVal">
                            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Zgodność haseł
                        </div>
                        <button type="submit" id="butt" class="btn btn-lg btn-danger btn-block" > Zarejestruj </button>
                    </div>
                </form>
            </div>
        </div>
        <script src="../static/js/regFormValidation.js" th:src="@{/js/regFormValidation.js}"></script>
    <header th:replace="layout :: footer" />

    </body>
</html>