<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head" />

<body class="bg">

<header th:replace="layoutLogged :: site-header" />

<div class="panel panel-info">
<div class="panel-body">
<blockquote>
    <p th:text="${title}" >Bruce Wayne</p>
    <p th:text="${author}" >Bruce Wayne</p>
    <p th:text="${gameTitle}" >Bruce Wayne</p>
    <small><cite title="Source Title" th:text="${content}">Gotham, United Kingdom  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
</blockquote>
</div>
</div>
</body>
</html>